<!DOCTYPE html>
<html>
<head>
    <title>Perfect Move</title>
    <style>
        .stream-container {
            display: flex;
        }
        .stream-container div {
            margin-right: 20px;
        }
        .angle-comparisons {
            margin-top: 20px;
        }
        .angle-comparison {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Perfect Move</h1>
    <div class="stream-container">
        <div>
            <img src="{{ url_for('video_feed') }}">
        </div>
        <div>
            <img src="{{ url_for('webcam_feed') }}">
        </div>
    </div>

</body>
</html>
